* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0; /*espaço externo*/
    padding: 0; /*espaço interno*/

}

#cabecalho{
    background-color: #4896b0f6;
    display: flex; /*ativo o flexblox para poder alinhar os elemnetos filhos*/
    justify-content: space-between; /*alinha os filhos no sentido do flex*/
    align-items: center ;
    
}

#cabecalho > img {
  width: 40px; /*Largura*/
  height: 40px; /*altura*/
}

#cabecalho > nav {
    display: flex;
    /* align-items: center ;*/
    gap: 10px; /*espaço entres os elementos*/
}
    
#cabecalho > nav > a{
 color: rgb(8, 39, 66);
 text-decoration: none; /*decoração do texto, neste caso, o link*/
 font-size: 16px;
}

#Filme {
display: flex;
flex-direction: column;
}

#Filme > img{
  width: 300px; /*Largura*/
  height: 300px; /*altura*/
}

#Filme > h3{
  color: rgb(8, 39, 66);
  font-size: 30px;
  font-family: 'Gill Sans';
}

#Filme > span{
  color: rgb(8, 39, 66);
  font-size: 30px;
  font-family: 'Gill Sans';
}